<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>95972646882-1qt48f9f1rn7h0jajbdjao7k3oeq5qsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95972646882-1qt48f9f1rn7h0jajbdjao7k3oeq5qsl</string>
	<key>API_KEY</key>
	<string>AIzaSyBCOIn2b7hhTdiHwv8jHpTY6VHi8DSHisA</string>
	<key>GCM_SENDER_ID</key>
	<string>95972646882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.apps4mobile.SongTexts</string>
	<key>PROJECT_ID</key>
	<string>lyricsapp-7d66b</string>
	<key>STORAGE_BUCKET</key>
	<string>lyricsapp-7d66b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:95972646882:ios:6f3163b2d3720e33</string>
	<key>DATABASE_URL</key>
	<string>https://lyricsapp-7d66b.firebaseio.com</string>
</dict>
</plist>